body {
	font-family: "Nunito Sans", sans-serif;
	background: #fff;
	color: #23272b;
}

#header {
	height: 250px;
	background-image: url("../images/header-bg.jpg");
	background-color: #fff;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;	
}

#header #logo img {
	width: 200px;
}

#options {
	background-color: #f2f2f2;
	height: 60px;
}

#add-rest-icon, .fa-chevron-down, .fa-plus-circle {
	line-height: 1.5rem;
	margin: 0 5px;
}

#body-section {
	height: calc(100vh - 310px);
}

#map {
	height: 100%;
}

#list {
	height: 100%;
	overflow: scroll;
}

.card-header {
	cursor: pointer;
}

.ratings {
	font-size: 0.8rem;
	line-height: 1.5rem;
	color: #f8ce0b;
}

.stars-outer {
  display: inline-block;
  position: relative;
}
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
	overflow: hidden;
  width: 0;
}

/* modal styling */
.modal .btn-secondary {
	background-color: #efefef;
	border: none;
	color: #555;
}

.modal .btn-secondary:hover {
	background-color: #e8e8e8;
	color: #555;
}

.modal .btn-primary {
	background-color: #f8ce0b;
	border: none;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.modal .btn-primary:hover {
	background-color: #ceaa0a;
	color: #fff;
	text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

/* swal button styling */
.swal-button--confirm {
  background-color: #f8ce0b;
  font-size: 12px;
  border: 1px solid #ceaa0a;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
}

.swal-button--confirm:hover {
	background-color: #ceaa0a;
}

.swal-button--confirm:not([disabled]):hover {
	background-color: #ceaa0a;
}