body {
	font-family: "Nunito Sans", sans-serif;
	background: #fff;
	color: #23272b;
}

#header {
	height: 250px;
	background-image: url("../../dist/images/header-bg.jpg");
	background-color: #fff;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;	
}

#header #logo img {
	width: 200px;
}

#options {
	background-color: #f2f2f2;
	height: 60px;
}

#add-rest-icon, .fa-chevron-down, .fa-plus-circle {
	line-height: 1.5rem;
	margin: 0 5px;
}

#body-section {
	height: calc(100vh - 310px);
}

#map {
	height: 100%;
}

#list {
	height: 100%;
	overflow: scroll;
}

.card-header {
	cursor: pointer;
}

.ratings {
	font-size: 0.8rem;
	line-height: 1.5rem;
	color: #f8ce0b;
}

.stars-outer {
  display: inline-block;
  position: relative;
}
 
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
	overflow: hidden;
  width: 0;
}

